html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; 
    height: 100%;
    overflow: hidden;
}

.card {
    width: 270px;
    height: 650px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

.photo {
    width: 230px;
    height: 200px;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: sepia(45%) saturate(811%) hue-rotate(228deg) brightness(50%)
    contrast(80%);
}

.header {
    margin-bottom: -10px;
}

.content {
    width: 230px;
    margin: 0 auto;
    background-color:hsl(244, 38%, 16%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family:'Inter', sans-serif;
    font-size: 18px;
    color:  hsl(0, 0%, 100%);
    text-align: center;
    margin: 30px;
}

span {
    color:hsl(277, 64%, 61%); 
}

.description {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    margin: 10px;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stat1, .stat2, .stat3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat3 {
    margin-bottom: 30px;
}

.statistics p {
    color: hsla(0, 0%, 100%, 0.6); 
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 9px;
}

.categories {
    color:   hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
}

@media screen and (min-width : 820px) {
    
    .container {
        display: flex;
        flex-direction: row;
        overflow:hidden;
    }

    .card {
        width: 100%;
        height: 900px;
        display:flex;
        flex-direction: row-reverse;
        justify-content:center;
        overflow:hidden;
    }

    .content {
        width: 500px;
        height: 450px;
        margin: 50px 0 100px 100px;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .photo {
        width: 500px;
        height: 450px;
        margin: 45px 100px 100px 0;
        border-radius: 0 10px 10px 0;
    }

    .content h1 {
        margin: 50px 50px 0 50px;
        text-align: start;
        font-size: 32px;
    }

    .content p {
        margin: -80px 50px 0 50px;
        text-align: start;
        font-size: 15px;
    }

    .statistics {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .statistics p {
        margin-right: -5px;
        font-size: 15px;
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-start;
        font-size: 22px;
    }

    .stat1 .categories {
        margin-left: -30px;
    }

    .stat2 .categories {
        margin-left: -35px;
    }
}